@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Schedule
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
        <h4>Add Schedule</h4>
    </div>
</div>
   <form asp-action="@ViewBag.action">
    <br />
    <input asp-for="ScheduleID" hidden />
    <input asp-for="action" value="@ViewBag.action" hidden />
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-3">
            <label for="FirstName">Sheduled Date</label>
            <input asp-for="Date" class="form-control border border-info" />
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <label for="Name">Schedule Name</label>
            <input asp-for="Name" class="form-control border border-info" />
        </div>
       
    </div>
    <br />


  
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            <label for="StartDate">Start Date</label>
            <input asp-for="StartDate" class="form-control border border-info" />
        </div>
        <div class="col-4">
            <label for="StartTime">Start Time</label>
            <input asp-for="StartTime" class="form-control border border-info" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            <label for="EndDate">End Date</label>
            <input asp-for="EndDate" class="form-control border border-info" />
        </div>
        <div class="col-4">
            <label for="EndTime">End Time</label>
            <input asp-for="EndTime" class="form-control border border-info" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-6">
            <label for="Employee">Employee</label>
            <select class="form-control border border-info" asp-for=EmployeeID asp-items="@(new SelectList(ViewBag.employees, nameof(Employee.EmployeeID), nameof(Employee.FullName)))" class="form-control">
                <option value="0">Select a Employee...</option>
            </select>
        </div>

        <div class="col-2">
            <label></label>
            <button class="btn btn-outline-dark form-control" asp-action="AddEmp">Add</button>
        </div>

    </div>

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
      
        </div>

        <div class="col-4">
            <table class="table">
                <thead>
                    <tr>
                            <th scope="col">Employee Name</th>
                            <th scope="col"></th>

                        </tr>
                   
                </thead>
                <tbody>
                    @if(Model!=null){
                      @foreach (var obj in Model.employee)
                    {
                      
                    <tr>
                        <th scope="row">@obj.FullName</th>
                        <td><button class="btn btn-danger" asp-action="delEmp" asp-route-empid="@obj.EmployeeID">Delete</button></td>
                 
                    </tr>
                    }
                    }
                </tbody>
            </table>
        </div>

    </div>


    <br>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            @if (ViewBag.action == "AddPOST")
            {
                <button class="btn btn-dark">Save</button>
            }
            else
            {
                <button class="btn btn-dark">Update</button>
            }
            <a class="btn btn-outline-dark" asp-action="index" asp-controller="Schedule">Cancel</a>
        </div>
    </div>
       </form>